@charset "UTF-8";

.wrap{width:100%; height:auto;}
#contentBox li{float:left; margin:30px; width:50px; height:50px; background-color:#999; border-radius:10px;
               line-height:50px; box-sizing:border-box; font-size:25px; text-align:center; color:#fff;}


li{transition:all 300ms linear;}
li:nth-child(1):hover{transform:rotate(50deg);}
li:nth-child(2):hover{transform:translateY(-30px);}
li:nth-child(3):hover{transform:scale(0.5);}
li:nth-child(4):hover{transform:scale(1.5);}
li:nth-child(5):hover{box-shadow:0.5rem 0.5rem 0.5rem #333;}
li:nth-child(6):hover{background:#00a;}
li:nth-child(7):hover{transform:perspective(300px) rotateX(50deg)}
li:nth-child(8):hover{transform:perspective(300px) rotateY(50deg)}
li:nth-child(9):hover{transform:rotate(359deg)}
li:nth-child(10):hover{opacity:0.3;}