//mixin.scss
//frame work=========================================================

//span 내부에 있는 text 숨기는 기능 처리하기
@mixin hiddenText(){display:block; width:0; height:0;
                    position:absolute; z-index:-1; overflow:hidden;}

//a요소 사이트 설정, 내부 span 요소를 숨기게 만들기
@mixin link($w:100%,$h:100%){display:block; width:$w; height:$h;
            @content;
            &>span {@include hiddenText};}

            
//link($w:100%, $h:100% 100%로 설정은 했지만, 크기설정을 할 경우에는 100%를 지우고 값을 입력하면 적용된다)


@mixin indicator_type_01($select, $myW){

  //하단에 존재하는 인디케이터 형태로,
  //focus 처리되면 해당버튼이 가로로 길게 늘어나는 형태
  //option : 1. 인디케이터 버튼 하나의 크기 $myW로 설정
  //         2. class선택자의 이름을 설정 $select => 선택자 지칭
  //기본구조는 : $select > ul > li > a 순서로 되어있음
  //interpolation(보간) : 형태 그대로 대입시키도록 처리하는 것

  //.view_indicator
  #{$select} {$w:$myW; $f:100%;  
  position:absolute; left:50%; bottom:$w; transform:translateX(-50%);
  //가운데로 배치하는 방법 중 하나 position 후 left:50%; transform:tra..X(-50%)!
  width:auto; min-width:135px; height:$w; background-color:$white;
  padding:5px; border-radius:$w;
  &>ul{width:$f; height:$f;
  &>li{float:left; width:auto; height:$w; margin-left:5px;
  &:first-child{margin-left:0;}}
  & a{@include link($w:$w, $h:$f);
  border-radius:$w; background-color:$gray;
  transition:all 300ms ease;
  &:hover{background-color:light($primary,30%);}
  &.action, &:focus{background-color:$primary; width:($w*3);}
  &>span{@include hiddenText; }
}
  }
}

} //@mixin indicator_type_01

//====================================================================
/* 가로형 슬라이드 배너 스타일 1 */

 //horizontal_slide_banner

@mixin horizontal_slide_banner($bannerName,$c, $w:100%, $h:100%, $view:flase){

 // $bannerName : (필수)광고 슬라이드 배너를 처리하고 있는 영역의 이름(기본틀)
 // .guide : $bannerName 자식으로 사용하는 가로슬라이드배너의 내용을 담을 긴 박스의 이름

 // .guide의 자식요소는 div로 설정되어 있음(필수)

 // $c : (필수)가로형 슬라이드 배너의 갯수(기본)
 // $w, $h : 기본틀의 가로, 세로 값
 // $view : ture 이면 기본틀에서 넘치는 내용을 overflow : visible 처리하고
 //         false이면 기본틀에서 overflow:hidden
 

  #{$bannerName}{$count:$c;
    width:$w; height:$h;

    @if ($view == true){
      overflow:visible;
    }@else{
      overflow:hidden;
    }

    .guide{width:100% * $count; height:100%; background-color:$sample;
     &>div{float:left; width:(100% / $count); height:100%;
          padding:4rem; box-sizing:border-box;
          background-repeat:no-repeat; background-position:50% 50%;
          background-size:cover;
    //  &:nth-of-type(1){background-color:$white;}
    //  &:nth-of-type(2){background-color:darken($white,20%);}
    //  &:nth-of-type(3){background-color:darken($white,40%);}
    //  &:nth-of-type(4){background-color:darken($white,60%);}
    // js -> for(let i = 0 ; i<4 ; i++){}
    // js -> for(최초의 임의변수;반복 횟수;수행하기 위한 연산){}

    
    }
  }
  }
}

// ==============================================================

$url:'이미지경로'; //@mixin 사용전경로 설정할 것

@mixin horizon_banner_img($count,$imgName,$url,$file:'.jpeg'){

  @for $i from 1 through $count {
    &:nth-of-type(#{$i}){
    $n : null;
    // {background-color:darken($white,$i*10%);
    // {background-image:url($url + nth($myImg,$i));
      @if ( $i < 10 ) { $n : '0'+$i; }
      @else { $n : $i; }
      background-image:url($url + $imgName + $n + $file);
    }
    //@for
    }//div (개별요소)
}

/* @include horizontal_slide_banner('.my_banner',4){
  $url:'../../img/mybanner/';
  $imgName:'mybanner_';
  $count:4;
  @include horizon_banner_img($count, $imgName, $url:$url, $file'png');
  //기타 div 및 하위 내용을 삽입
} */