#wrap{width:100%; height:100%;
  #headBox{width:500px; height:100px; margin:50px auto;
    a{display:block; width:100%; height:100%;
      h1{font-size:80px; color:#f00; line-height:100px; text-align:center;}}
    }//headBox
  #checklist{width:500px; height:3000px; margin:auto; background-color:#aa0;
    #check_agree{width:100%; height:100%;
    >.all_agree{width:100%; height:45px; background-color:#30a;}}


  }}