@mixin subtitle{font-size:1rem; word-break:keep-all; letter-spacing:-0.05rem;}

body{background-color:#fafafa;}
#wrap{width:460px; height:auto; margin:auto;
  h2{width:100%; height:auto; text-align:center; margin:2rem 0;
  i{font-size:50px; color:#000;}}
  form{width:100%; height:auto;}
  fieldset{
    &:first-of-type{width:100%; height:auto; min-height:50px;}
    &:last-of-type{width:100%; height:auto; min-height:50px; margin-top:30px;
      >input{width:220px; height:60px; border:0; color:#fff; font-size:1.5rem;}
      >p{width:100%; height:auto; clear:both; padding-top:10px; box-sizing:border-box; font-size:0.875rem; text-align:center;}
    }
    .check{width:100%; height:auto; min-height:50px; margin-bottom:20px;
      strong{font-size:0.875rem; font-weight:normal; color:#08a600;}
      em{font-size:0.875rem; font-weight:normal; font-style:normal; color:#777;}
      >p{@include subtitle;}
      >dl{width:100%; height:auto; margin-bottom:20px;
        >dt{@include subtitle;}
        >dd{border:1px solid #555; box-sizing:border-box; padding:10px; overflow-x:hidden; overflow-y:auto;
            margin:5px 0; background-color:#fff;}}
      >input{width:0; height:0; overflow:hidden; border:0; position:absolute; z-index:-1;
        &:checked + dl i, &:checked + dl p, &:checked + p i{color:#08a600;}
      }
      i{font-size:1.2rem; cursor:pointer; color:#aaa;}
      }

    .all_check{position:relative; padding-left:28px; 
      i{position:absolute; top:5px; left:0; font-size:1.3rem; color:#777;}
      >p{text-decoration:underline;}
      >input{
        &:focus+p{color:#333;}
        &:checked+p i{color:#08a600;}}
    }
  }//fileldset

  input[type="reset"]{float:left; background-color:#555;}
  input[type="submit"]{float:right; background-color:#08a600;}
  input[type="reset"]:focus, input[type="submit"]:focus
  {outline:3px solid #333; font-weight:bold; text-decoration-color:brown;}
}