// 1107.scss

#wrap{width:100%; height:100%;
  #miniProduct{position:relative; width:800px; height:500px; margin:auto;
  .btnArea{position:absolute; top:0; bottom:0; margin:auto; z-index:1; width:100%; height:0; padding:20px; box-sizing:border-box;
    >button{width:50px; height:50px; background-color:#fff; border-radius:100%;}//button
    >.next{float:right;}
    >.prev{float:left;}
  }//btnArea
  .indicator{position:absolute; left:50%; bottom:-60px; transform:translateX(-50%); 
             width:390px; height:auto; padding:10px; background-color:#888;
             border-radius:30px;
    >li{float:left; width:30px; height:30px; background-color:#fff;  
        border-radius:30px; margin-right:15px;
        &:last-child{margin-right:0;}
        a{display:block; width:100%; height:100%; border-radius:30px;
        &:hover,&:focus{background-color:#fa0;}}
      } //li
    } //indi
  .product_wrap{$count:10; overflow:hidden;
                 width:100%; height:500px;/* overflow:hidden; */
    .product{ position:relative; left:-100%; width:100%*$count; height:100%;
      >li{float:left; width:100%/$count; height:500px; }
    }
  }
} //mini
} //wrap

.action a{background-color:#af0;}
