//slide_indi_and_btn.scss

@import "./_basic/var";
@import "./_basic/etc";
@import "./_basic/mixin";

#slide_01{width:400px; height:350px;
          margin:4rem auto; background-color: $gray;}
#slide_02{width:100%; height:100%;}