@charset "UTF-8";
/* 가로형 슬라이드 배너 스타일 1 */
/* @include horizontal_slide_banner('.my_banner',4){
  $url:'../../img/mybanner/';
  $imgName:'mybanner_';
  $count:4;
  @include horizon_banner_img($count, $imgName, $url:$url, $file'png');
  //기타 div 및 하위 내용을 삽입
} */
h1 {
  position: relative;
  top: 120px;
  left: -180px;
  width: 500px;
  height: auto;
  text-align: left;
  line-height: 30px;
  margin: auto;
  box-sizing: border-box; }

#miniProduct {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 2rem auto; }

.btn {
  position: absolute;
  width: 150px;
  height: 70px;
  bottom: 20px;
  right: 1rem;
  z-index: 500; }
  .btn > button {
    float: left;
    width: 70px;
    height: 70px;
    font-size: 2rem;
    background-color: transparent;
    color: #0c9;
    font-size: 50px; }
    .btn > button.next {
      float: right; }
    .btn > button > span {
      display: block;
      /* position:absolute; z-index:-10; */
      width: 0;
      height: 0;
      overflow: hidden; }

.product {
  width: 100%;
  height: 300px;
  background-color: #ccc; }
  .product > ul {
    width: 300%;
    height: 100%;
    /* margin-left:-100%; */ }
    .product > ul > li {
      float: left;
      width: 33.33333%;
      height: 100%;
      padding: 30px;
      box-sizing: border-box;
      padding: 30px; }
      .product > ul > li.product_01 > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../../img/img_tomtom/menu_01.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
      .product > ul > li.product_02 > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../../img/img_tomtom/menu_02.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
      .product > ul > li.product_03 > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../../img/img_tomtom/menu_03.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain; }
      .product > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain; }
