@charset "UTF-8";
/**
- design 기준 : 480px
  @media screen and (max-width:479px) {}
- design 기준 : 480px
  @media screen and (min-width:480px) and (max-width:767px) {}
- design 기준 : 768px
  @media screen and (min-width:768px) and (max-width:959px) {}
- design 기준 : 960px
  @media screen and (min-width:960px) {}
작업순서:
1. 큰 틀 체크 (반응형일 때 모바일부터 먼저 작업)
2. 각 범위의 큰 형태가 틀어지지 않게 체크
3. 중간범위의 형태들 내용잡고, 큰틀의 높이값 한번 더 체크
4. 숨겨진 기능들(큰범위)을 미리 세팅 후 확인
5. 링크, 상세내용들을 체크
6. 이미지 처리, 애니메이션, 제어기능(jQuery 같은)처리
**/

/* 공통영역 */
#wrap{width:100%; min-width:320px; height:auto; min-height:500px; padding-top:60px;}
 #headBox{position:fixed; top:0; left:0; z-index:700;
  /* position:fixed로 끝내지말고 top, left같은 것으로 기준을 잡아준다 */
  min-width:320px; /* fixed를 줬기 때문에 min-width를 headBox에도 부여해야함 */
  width:100%; height:60px; background-color:#555;}
  .area_wrap{width:100%; max-width:960px; height:40px; background-color:#fff; margin:auto;}
 #contentBox{width:100%; height:auto;}
  .view_area{width:100%; height:720px; background-color:#0cf}
  .tip_area{margin:auto; width:100%; max-width:960px; height:720px; background-color:#0b4}
  .info_area{margin:auto; width:100%; max-width:960px; height:720px; background-color:#0ad}
 #footBox{width:100%; height:60px; background-color:#a43;}



/* design 기준 480px */
@media screen and (max-width:479px) {
 
}

/* 기준 480px */
@media screen and (min-width:480px) and (max-width:767px) {


/* 기준 768px */
@media screen and (min-width:768px) and (max-width:959px) {
  #footBox{height:120px;}
}

/* 기준 960px */
@media screen and (min-width:960px) {
  #footBox{width:100%; height:120px;}
}