@charset "UTF-8";
h1{text-align:center;}
h2{text-align:center; color:#fa0; padding:30px;}

#contentBox{width:800px; height:auto; margin:auto;}
#contentBox>div{width:100%; height:500px; margin-bottom:2rem; background-color:#ccc;
background-image:url(../img/image_w_04.jpeg);
background-repeat:no-repeat;
 background-position:70% 25%; border:50px dotted #f30;
box-sizing:border-box; background-color:#acf; padding:40px;}

.clip_1{background-clip:border-box;}
.clip_2{background-clip:padding-box;}
.clip_3{background-clip:content-box;}

.origin_1{background-origin:border-box;}
.origin_2{background-origin:padding-box;}
.origin_3{background-origin:content-box;}
