@charset "UTF-8";

/* reset ========== */
html, body,h1,h2,h3,h4,h5,h6,
ul,li,ol,dl,dt,dd,hr {margin:0px; padding:0px; border:0px;}

ul,ol,li {list-style:none;}

header,main,aside,footer,article,section,content  {display:block;}

.clearfix:after, .clearfix::after
{display:block; width:0; height:0; content:" "; clear:both;}

/* design ========== */
#box {margin:0 auto; width:900px; height:1200px; background-color:#ea0;}

#headBox {width:100%; height:200px; background-color:#27a;}

#aside {width:900px; height:800px; background-color:#010;}
#mainBox {width:300px; height:800px; background-color:#555; float:left;}
    .listBox {width:100%; height:100%; background-color:#000;float:left;}
    .listBox ul {width:100%; height:100%; background-color:#ff0;padding-top:10px; padding-left:10px; padding-right:10px; box-sizing:border-box;}
    .listBox li
    {width:100%; height:150px; background-color:#fff;
     margin:10px; box-sizing:border-box;}
 
#secBox {width:600px; height:50%; background-color:#d2a; float:left;}
#secBox_two {width:600px; height:50%; background-color:#2da; float:left;}
    .secBoxTwoInsideOne {width:300px; height:100%; background-color:#ea0; float:left;}
    .secBoxTwoInsideOne {width:300px; height:100%; background-color:#0ae; float:left;}
